

.mainHeader, .loginHeader, .registerHeader {
    margin: 15px;
    font-family: 'Audiowide', cursive;
}

.brandHeader.navbar-brand {
    font-size: 250%;
}

.navLogout {
    margin: 20px;
    font-size: 150%;
}

.navBrandTitle {
    margin: 20px;
    font-size: 250%;
    width: 100%;

}