

.mainHeader, .loginHeader, .registerHeader {
    margin: 15px;
    font-family: 'Audiowide', cursive;
}

.brandHeader.navbar-brand {
    font-size: 250%;
}

.navLogout {
    margin: 20px;
    font-size: 150%;
}

.navBrandTitle {
    margin: 20px;
    font-size: 250%;
    width: 100%;

}

div.loginHeader.nav, div.registerHeader.nav {
    background-color:  #d2d2d2;
    width: 50%;
    height: 15%;
    font-size: 150%;
    border-style: inset;
}