.createContainer {
    margin: 10px;
}

.createCard {
    padding: 10px;
}

.createForm {

    padding: 20px;
}

.createButton {
    margin: 10px;
    height: 20%;
}

.createLabel {
    font-size: 150%;
}

.createFormTitle {
    margin: 10px;
}

.workoutCard {
    width: 250px;
    text-align: center;
}

.workoutTitleHeader {
    margin: 5px;
}

.workoutTimeHeader {
    margin: 5px;
}

.workoutTitle {
    margin: 5px;
}

.workoutText {
    margin: 5px;
    border-style: solid;
    border-width: 5px;
}

.workoutEditButton, .workoutDeleteButton {
   margin: 2px;

}
